<div class="sd-timeline-controls">
  <ul class="sd-timeline-controls-tabs clearfix">
    <li class="sd-timeline-controls-tabs__tab">
      <button type="button" class="sd-timeline-controls-tab sd-timeline-controls-tab--active">Tab 1</button>
    </li>
    <li class="sd-timeline-controls-tabs__tab">
      <button type="button" class="sd-timeline-controls-tab">Tab 2</button>
    </li>
  </ul>
  <div class="sd-timeline-controls__commands">
    <ul class="sd-timeline-controls-commands clearfix">
      <li class="sd-timeline-controls-commands__command">
        <button type="button" class="sd-timeline-controls-command">1</button>
      </li>
      <li class="sd-timeline-controls-commands__command">
        <button type="button" class="sd-timeline-controls-command">2</button>
      </li>
      <li class="sd-timeline-controls-commands__command">
        <button type="button" class="sd-timeline-controls-command">3</button>
      </li>
    </ul>
  </div>
</div>
