body {
  background-color: #e6e6e6;
  margin: 0;
  padding: 0;
  font-family: "" Segoe UI ", Tahoma, Geneva, Verdana, sans-serif"; }

button:focus {
  outline: transparent; }

.sa-back-button {
  background: none;
  border: 0;
  color: #e1e1e1;
  width: 43px;
  cursor: pointer;
  outline: 0; }
  .sa-back-button:hover {
    background-color: rgba(255, 255, 255, 0.1); }

.sa-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.sa-layout__title {
  background-color: #71356e;
  color: #e1e1e1;
  display: flex; }

.sa-title__text {
  padding: 5px 20px;
  flex: 1; }

.sa-layout__content {
  display: flex;
  flex: 1; }

.sa-layout__nav {
  background-color: #f9f9f9;
  display: flex; }

.sa-layout__pages {
  flex: 1;
  display: flex; }

.sa-nav__base {
  color: #965b93;
  display: flex;
  flex-direction: column; }

.sa-nav__expanded {
  color: #965b93;
  display: flex;
  flex-direction: column;
  flex: 1; }

.sa-nav__primary {
  flex: 1;
  display: flex;
  flex-direction: column; }

.sa-nav__secondary {
  display: flex;
  flex-direction: column; }

.sa-nav-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 15px 10px;
  font-size: 18px;
  color: #965b93; }
  .sa-nav-button:hover:not(.sa-nav-button--expand) {
    background-color: #ede5ec; }

.sa-nav-button--text {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px; }

.sa-nav-button--expand {
  background-color: #7f367b;
  color: #e1e1e1;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 10px; }

.sa-nav-button--expand:not(.sa-nav-button--text) {
  padding-top: 11px;
  padding-bottom: 11px; }

.sa-search {
  min-width: 300px;
  width: 20%;
  background-color: white; }

.sa-search__header {
  display: flex;
  background-color: #8c3289;
  color: #e1e1e1; }

.sa-search-header__input {
  flex: 1; }

.sa-search__commands {
  border-bottom: 1px solid #e6e6e6;
  padding: 15px 20px; }

.sa-search-category {
  color: #737373;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 20px 13px 20px; }
  .sa-search-category:hover {
    background-color: #ede5ec; }

.sa-search-category__title {
  margin: 0;
  font-weight: lighter;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.sa-search-category__secondary-text {
  margin: 0;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.sa-search-category__metadata {
  margin-right: 1em;
  display: inline-block; }

.sa-search-category__metadata--date-offset {
  color: red; }

.sa-search-item {
  padding: 10px 20px 13px 20px;
  padding-left: 40px;
  border-bottom: 1px solid #e6e6e6; }
  .sa-search-item:hover:not(.sa-search-item--selected) {
    background-color: #ede5ec; }

.sa-search-item--selected {
  background-color: #7f367b;
  color: #e1e1e1; }
  .sa-search-item--selected .sa-search-category__title {
    color: #f9f9f9; }
  .sa-search-item--selected .sa-search-category__metadata {
    color: #e1e1e1; }

.sa-item {
  flex: 1; }
