$dark-grey: #444;
$grey-light: #e6e6e6;

$purple-dark: #71356e;
$purple-normal: #7f367b;
$purple-light: #8c3289;

$color-offwhite-font: #e1e1e1;
$color-offwhite: #f9f9f9;

body {
	background-color: $grey-light;
	margin: 0;
	padding: 0;
	font-family: ''Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
}

.sa-back-button {
	background: none;
	border: 0;
	color: $color-offwhite-font;
}

.sa-layout {
	display: flex;
	flex-direction: column;
  	min-height: 100vh;
}

.sa-layout__title {
	background-color: $purple-dark;
	color: $color-offwhite-font;
}
.sa-layout__content {
	display: flex;
	flex: 1;
}
.sa-layout__nav {
	background-color: $color-offwhite;
	display: flex;
}
.sa-layout__pages {
	flex: 1;
	display: flex;
}

.sa-nav {
	display: flex;
}
.sa-nav__base {
	display: flex;
	flex-direction: column;
}
.sa-nav__expanded {
	display: flex;
	flex-direction: column;
	flex: 1;
}


.sa-nav__primary {
	flex: 1;
  	display: flex;
  	flex-direction: column;
}
.sa-nav__secondary {
	display: flex;
  	flex-direction: column;
}

.sa-nav-button {
	background: none;
	border: none;
	cursor: pointer;
}
.sa-nav-button--expand {
	background-color: $purple-normal;
	color: $color-offwhite-font;
}

.sa-search {
	min-width: 300px;
	width: 20%;
}
.sa-search__header {
	display: flex;
	background-color: $purple-light;
	color: $color-offwhite-font;
}

.sa-search-header__input {
	flex: 1
}

.sa-item {
	flex: 1;
}