@import "variables";

.sd-page {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.sd-page__controls {
  height: 40px;
  background-color: $color-purple-7f;
}
.sd-page__body {
  padding: 0 2em;
}
