$color-purple-71: #71356e;
$color-purple-7f: #7f367b;
$color-purple-80: #80397b;
$color-purple-8c: #8c3289;
$color-purple-96: #965b93;
$color-purple-a3: #a3569e;
$color-purple-ed: #ede5ec;

$color-grey-44: #444;
$color-grey-73: #737373;
$color-grey-e5: #e5e5e5;
$color-grey-e6: #e6e6e6;

$color-offwhite-d2: #d2d2d2;
$color-offwhite-e1: #e1e1e1;
$color-offwhite-f3: #f3f3f3;
$color-offwhite-f9: #f9f9f9;
