$purple-dark: #71356e;
$purple-normal: #7f367b;
$purple-light: #8c3289;
$purple-icon: #965b93;
$purple-highlight: #ede5ec;

$color-purple-a3: #a3569e;
$color-purple-80: #80397b;
$color-grey-4: #444;
$color-grey-73: #737373;
$color-grey-e6: #e6e6e6;
$color-offwhite-font: #e1e1e1;
$color-offwhite: #f9f9f9;
$color-offwhite-f3: #f3f3f3;
$color-offwhite-d2: #d2d2d2;
$color-gey-e5: #e5e5e5;
