<article class="sa-item-placeholder">
	<div class="sa-item-placeholder__controls">
		&nbsp;
	</div>
	<div class="sa-item-placeholder__text">
		<h1>Welcome to Student Dashbaord!</h1>
	</div>
</article>
