{{#link-to "index.index.item" model tagName="div" class="sa-search-item"}}
  <h3 class="sa-search-item__title">{{model.message}}</h3>
  <p class="sa-search-item__secondary-text">
    <span class="sa-search-item__metadata">{{moment-from-now model.datePosted}}</span><span class="sa-search-item__metadata">{{model.author.name}}</span><span class="sa-search-item__metadata">{{model.title}}</span>
  </p>
{{/link-to}}
