<article class="sa-item">
	<div class="sa-item__header">
		<button class="sa-item-command">
			<i class="ms-Icon--editBox"></i> Edit
		</button>
		<button class="sa-item-command">
			<i class="ms-Icon--ellipsis"></i>
		</button>
	</div>
	<div class="sa-item__content">
		Select An Item
	</div>
</article>
