<p class="sa-search-category-preview__secondary-text">
  <span class="sa-search-category-preview__metadata">{{#if model.important}}! {{/if}}{{model.message}}</span>
</p>
<p class="sa-search-category-preview__terinary-text">
  <span class="sa-search-category-preview__metadata">{{moment-from-now model.datePosted}}</span> <span class="sa-search-category-preview__metadata">{{model.author.name}}</span> <span class="sa-search-category-preview__metadata">{{model.title}}</span> 
</p>
