<div class="sa-timeline">
  <div class="sa-timeline__controls">
    {{sd-timeline-controls events=model }}
  </div>
  {{sa-timeline events=model action='itemClicked'}}
  <div class="sa-timeline__brush">
    {{sd-timeline-brush events=model action='brushMoved' }}
  </div>
</div>
{{outlet}}
