$dark-grey: #444;
$grey-73: #737373;
$grey-light: #e6e6e6;

$purple-dark: #71356e;
$purple-normal: #7f367b;
$purple-light: #8c3289;
$purple-icon: #965b93;
$purple-highlight: #ede5ec;

$color-offwhite-font: #e1e1e1;
$color-offwhite: #f9f9f9;

body {
	background-color: $grey-light;
	font-family: ''Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
	margin: 0;
	padding: 0;
}
