<h1>Profile</h1>

<div class="">
  {{#if session.isAuthenticated}}
    <button type="button" {{action 'invalidateSession'}}>Logout</button>
  {{else}}
    <button type="button" {{action 'authenticateWithFacebook'}}>Login</button>
  {{/if}}
</div>
