<div class="sa-layout__title">
	{{#link-to "index" tagName="button" class="sa-back-button"}}
		<i class="ms-Icon--arrowLeft"></i>
	{{/link-to}}
	<div class="sa-title__text">
		StudentDashboard
	</div>
</div>
<div class="sa-layout__content">
  {{outlet}}
</div>
